@font-face {
   font-family: YuGo;
  src: local(YuGo-Medium);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
  
@font-face {
  font-family: YuGo;
  src: local(YuGo-Bold);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
 
h1 {
  font-family: YuGo;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {
  font-family: YuGo;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-family: YuGo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}
h4 {
  font-family: YuGo;
  font-size: 16px;
  font-weight: nomal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {
  font-family: YuGo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

body {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

caption {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.shopruby-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.shopruby-check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.shopruby-require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
}

.shopruby-require-input-label-text {
  font-family: YuGo;
  font-size: 10px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 0 2px;
}

.shopruby-submit-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  background-color: #FFC0CB;
}

.shopruby-login-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #FFC0CB;
}

.shopruby-error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #e3342f
}

.shopruby-header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.shopruby-header-search-input {
  border: solid 1px #e5e5e5;
}

.shopruby-header-search-button {
  background-color: #FFC0CB;
}

.shopruby-header-search-icon {
  color: #ffffff;
}

.shopruby-header-fav-icon {
  color: #191919;
}

.shopruby-header-shoppingcart-icon {
  color: #ffffff;
}

.shopruby-favorite-button {
  border-radius: 2px;
  border: solid 1px #FFC0CB;
  background-color: #ffffff;
  font-size: 0.8rem;
}

.text-favorite {
  color: #FFC0CB;
}

.shopruby-sidebar-category-label {
  width: 156px;
  height: 20px;
  font-family: YuGo;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.user-edit-label {
  cursor: pointer;
  cursor: hand;
}

.shopruby-favorite-add-cart {
  border-radius: 2px;
  background-color: #FFC0CB;
}

.review-score-color {
  color: #FFC0CB;
}

.review-score-color:focus {
  color: #FFC0CB;
}