<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードの再設定がリクエストされました。 下のリンクをクリックしてパスワードを再設定してください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合は、メッセージは破棄してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
